main {
  background-color: #fafafa;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

.main-section {
  padding-top: 30px;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.fileInput {
  display: none;
}
